:host {
  display: block;
  width: 100%;

  margin-bottom: 0.4rem;
}

label {
  display: block;
  width: fit-content;
}

input {
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid black;

  width: 100%;
  max-width: 250px;
  background: white;
}
