<h1 class="sr-only">Articles</h1>
<main class="main-posts">
  <section class="posts-wrapper">
    <div class="tools-wrapper">
      <custom-button
        [text]="'Créer un article'"
        (click)="goToCreatePost()"
      ></custom-button>
      <div>
        <button class="sorting" (click)="sortTemplatePosts()">
          Trier par <span [ngClass]="{ reverse: !desc }">↑</span>
        </button>
      </div>
    </div>
    <post *ngFor="let post of templatePosts" [post]="post"></post>
  </section>
</main>
