@import "../stylesheets/variables.scss";

button {
  background-color: $primary-color;
  color: white;
  padding: 0.4rem 2rem;
  border-radius: 0.4rem;
  border: none;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;

  &.outlined {
    background-color: white;
    border: 1px solid black;
    color: black;
  }

  &.disabled {
    background-color: lightgrey;
    border: none;
    color: grey;
  }

  &.logout {
    color: red;
    border: none;
    background-color: transparent;
  }
}
